# --- API Keys & Secrets ---
.env

# --- Python Environment ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# --- QDoctor Storage & Database ---
storage/*
!storage/*.py
!storage/**/*.py

*.faiss
*.pkl

# --- Operating System Files ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log